h3{
    color: blue;
}

h2{
    color: blue;
}

h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 32px;
    color: blue;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
    color: darkslateblue;
}

/* ---------------------- ENDS ---------------------- */

body { background-color: lightcyan}

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }
