h1 {
    font-size: 84px;
    text-align: center;
    font-weight: normal;
    letter-spacing: -2px;
    margin-bottom: 32px;
}

p {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.6;
    margin-bottom: 20px;
}

section{
    padding: 5% 5% 5% 5%;
}

.section-1 {
    background-color: lightblue;
}

.section-2 {
    background-color: lightseagreen;
}

.section-3 {
    background-color: lightgreen;
}

.section-4 {
    background-color: lightyellow;
}

.section-5 {
    background-color: lightpink;
}


/* ---------------------- ENDS ---------------------- */

body { background-color: lightcyan}

/* Desktops */
@media (min-width: 768px) { body { padding: 4% 20% } }

/* Mobiles */
@media (max-width: 767px) { body { padding: 12% 8% } }