/* Global */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

  font-size: 20px;

  color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

body header{
  font-family: 'Merriweather', serif;
}

.anchor {
    padding-top: 12vh;
    margin-top: -12vh;
}

/* Transition */

a, .btn {
  transition: all 0.3s ease 0s;
}

.btn {
    padding: 1rem;
    font-weight: bold;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 12vh;
    background-color: rgb(09,27,42);
}

/* Nav */

nav{
    margin: 0 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 95%;
}

.logo {
    width: 50%;
}

.logo img {
    max-width: 100%;
    width: 4.5rem;
    border-radius: 50%;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15%;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-links li a:hover {
    color: rgb(35, 153, 208);
}

@media screen and (max-width: 768px) {
    header {
        height: 35vh;
    }

    nav {
        margin: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        text-align: center;
    }

    .logo {
        width: 50%;
    }

    .nav-links {
        flex-direction: column;
        width: 50%;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;
    }
}

/* Main */

/* Hero */

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 12vh;
    background-color: rgb(09,27,42);
}

.hero-info-container {
    margin-top: 1rem;
    margin-left: 5rem;
    width: 50%;
}

.hero-text {
    font-size: 2rem;
    font-weight: bold;    
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.hero-text h1 span{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(204, 116, 0);

}

.hero-text h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(35, 153, 208);

}

.hero-text p {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 300;
    width: 70%;
    max-width: 70%;
}

.hero-btn {
    margin-top: 5rem;
    margin-left: 1rem;
    display: flex;
    justify-content:flex-start;
    gap: 2rem;
}

#hero-btn-cv {
    width: 11rem;
    height: 3.5rem;
    background-color: rgb(35, 153, 208);
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
    color: rgb(0, 0, 0);
}

#hero-btn-cv:hover {
    cursor: pointer;
    background-color: black;
    color: rgb(35, 153, 208);
    transition-duration: 0.3s;
}

#hero-btn-contact {
    width: 11rem;
    height: 3.5rem;
    background-color: black;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
    color: rgb(35, 153, 208);
}

#hero-btn-contact:hover {
    cursor: pointer;
    background-color: rgb(35, 153, 208);
    color: black;
    transition-duration: 0.3s;
}

.hero-socials {
    display: flex;
    justify-content: flex-start;
    margin-top: 10rem;
    margin-left: 1rem;
    width: 50%;
    gap: 1rem;
}

.hero-socials img {
    height: 2rem;
    margin-right: 1rem;
    border-radius: 50%;
}

.hero-socials img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.hero-img-container {
    width: 50%;
}

.hero-img-container img {
    width: 80%;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .hero {
        padding-top: 35vh;
    }
}

/* About */

.about-info-container {
    height: 88vh;
    background-color: rgb(15,44,68);
}

.about-info-container h1 {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(35, 153, 208);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

.about-info-container h1 span {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.about-info-content-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5rem;
    height: 72vh;
}

.about-img  {
    width: 30%;
}

.about-img img {
    width: 100%;
    border-radius: 5%;
}

.about-info {
    width: 60%;
    font-size: 1rem;
    font-weight: 300;
}

.about-info h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.about-text p {
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 300;

}

#about-epita-link {
    color: rgb(35, 153, 208);
    text-decoration: none;
}

#about-epita-link:hover {
    color: rgb(204, 116, 0);
}

@media screen and (max-width: 768px) {
    .about-info-container {
        height: 100%;
    }

    .about-info-content-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 2.5rem;
        height: 100%;
    }
}

/* Skills */

.skills-container {
    height: 88vh;
    background-color: rgb(09,27,42);
}

.skills-container h1 {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(35, 153, 208);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

.skills-container h1 span {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.skills-container h2 {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.skills-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5rem;
    height: 72vh;
}

.skills-info-container h2 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.Languages {
    width: 30%;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.Tools {
    width: 30%;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.Softwares {
    width: 30%;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.skill-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;
    height: 10vh;
}

.skill-elm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    height: 10vh;
}

@media screen and (max-width: 768px) {
    .skills-container {
        height: 100%;
    }

    .skills-info-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2.5rem;
        height: 100%;
        gap: 1rem;
    }
}

/* Languages */

#sk-python {
    width: 30%;
}

#sk-c {
    width: 20%;
}

#sk-csharp {
    width: 20%;
}

#sk-rust {
    width: 20%;
}

#sk-sql {
    width: 30%;
}

#sk-html {
    width: 20%;
}

/* Tools */

#sk-git {
    width: 20%;
}

#sk-tensorflow {
    width: 20%;
}

#sk-arduino {
    width: 20%;
}

#sk-docker {
    width: 20%;
}

#sk-linux {
    width: 20%;
}

#sk-bash {
    width: 20%;
}

/* Softwares */

#sk-unity {
    width: 20%;
}

#sk-blender {
    width: 20%;
}

#sk-vscode {
    width: 20%;
}

#sk-vim {
    width: 20%;
}

#sk-latex {
    width: 20%;
}

#sk-flask {
    width: 30%;
}

/* Projects */

.projects-container {
    padding: 85px 80px;
    background-color: rgb(15,44,68);
}

.projects-container h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(35, 153, 208);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

.projects-container h1 span {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.projects-container h2 {
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.current-project {
    padding: 0 2.5rem;
    text-align: left;
    padding-bottom: 2rem;
}

.current-project-img {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.current-project-img img {
    width: 30%;
    border-radius: 5%;
}

.current-project h3 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

#project-git {
    height: 1.5rem;
    margin-right: 1rem;
    border-radius: 50%;   
    cursor: pointer;
}

#dart-git:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}

.current-project p {
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1;
}

.current-project span {
    font-weight: bold;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title p {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(204, 111, 6);
}

.separator {
    width: 80%;
    margin: 0 auto;
    border-top: 0.1rem double rgb(35, 153, 208);
}

/* Previous Projects */

.previous-projects-container {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;   
}

.previous-project {
    height: 100%;
    padding: 0 1rem;
    text-align: left;
    padding-bottom: 2rem;
}

.previous-project-info {
    height: 100%;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
}

.previous-project-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
}

.previous-project-img img {
    width: 10%;
    border-radius: 5%;
}

.previous-project h3 {
    font-size: 1.8rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.previous-project p {
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1;
}

.previous-project span {
    font-weight: bold;
}

.sh-img img {
    width: 100%;
    border-radius: 5%;   
}

.pva-img img {
    width: 100%;
    border-radius: 5%;   
}

.ocr-img img {
    width: 100%;
    border-radius: 5%;   
}

.era-img img {
    width: 100%;
    border-radius: 5%;   
}

@media screen and (max-width: 768px) {
    .projects-container {
        padding: 0;
    }

    .previous-project{
        height: auto;
    }
}

/* Contact */

.contact-container {
    height: 88vh;
    background-color: rgb(09,27,42);
    padding-bottom: 1rem;
}

.contact-container h1 {
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgb(35, 153, 208);
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.5rem;
}

.contact-container h1 span {
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

.contact-container h2 {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

.contact-info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 2.5rem;
    height: 75%;
    padding-top: 2rem;
}

.contact-form {
    width: 40%;
    height: 80%;
    border: 0.1rem solid rgb(35, 153, 208);
    padding: 1rem;
}

.contact-form h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
    color: rgb(35, 153, 208);
}

.contact-form p {
    font-size: 1rem;
    font-weight: 300;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.contact-form label {
    font-size: 1rem;
    font-weight: 300;
}

.contact-form textarea {
    width: 100%;
    height: 10rem;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    color: black;
}

.contact-form input {
    width: 100%;
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    font-weight: 300;
    color:black;
}

.contact-form button {
    width: 10rem;
    height: 2rem;
    background-color: rgb(35, 153, 208);
    border: 0.1rem solid rgb(35, 153, 208);
    border-radius: 5px;
    padding: 0.2rem 1rem;
    color: rgb(0, 0, 0);
}

/* Contact Info */

.contact-info {
    width: 40%;
    height: 80%;
    border: 0.1rem solid rgb(35, 153, 208);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding: 1rem;
}

.contact-info h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    color: rgb(35, 153, 208);
}

#contact-info-p {
    margin: 1rem 0;
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 300;

}

.contact-info p {
    margin: 0.5rem 0;
    font-size: 1rem;
    font-weight: 300;
}

.contact-social {
    text-align: left;
    margin-left: 30%;
    margin-top: 1rem;
}

.contact-social a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: white;
}

.contact-social img {
    width: 2rem;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .contact-container {
        height: 100%;
    }

    .contact-info-container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 1rem 2.5rem;
        height: 100%;
        gap: 2rem;
    }

    .contact-form {
        width: 100%;
        height: 100%;
    }

    .contact-info {
        width: 100%;
        height: 100%;
    }
    

}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: rgb(11, 65, 90);
}

footer p {
    color: black;
    font-size: 1rem;
    font-weight: 300;
}